<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.101\DotnetTools\dotnet-watch\6.0.101-servicing.21569.16\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:55809/AspNetCoreUploadingProgress/" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtwLnxnEALtV5cmgaM2Cyd3CuYB12FzxoG5bN7u7DJTqFwqZL61HoLT2YDOZlWezcXidvqzQ/hcizft5tmHX+8bOK7WfVs0lFYzMrDwibq7Gba5+ehHlm9ZktmToAYeZk34ydgrHwkXkHKh0mn5qeUV1nj+yog931najuwOFSUWa8S8L5zYTz2lY9Vbrv2T6x1G3ODZBmea/NLQTPJ/mJGvwhlZHHyjTjHQPv5AFyRsRtJ9LwiXQ5oBcG1uaJwnNTcsCx1U4aXtfvNrhAFjXtVTUijL3XRxE9t4gANkvv4s5KurVX2a1lIqtmt/NbTk7n3HKWN6lDTUh1VeRsO8pPzQIDAQAB" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="ff2a1a3a-ecd7-49d1-972e-fb05c8771c87" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>